<p>
    <label for="messageInput">Message: 
    <input type="text" name="messageInput" id="messageInput">
    <button id="chatButton" type="button">Send</button>
    </input>
    </label>

    <ul id="messages" name="messages">
        Messages:
    </ul>

    <script>
        console.log("socket attempt")
        const ws = new WebSocket(`ws://localhost:3000/${{id}}`)
        console.log("socket attempt2")

            var chatButton = document.getElementById("chatButton")
            console.log(chatButton)
            document.getElementById("chatButton").addEventListener("click", messageSendHandler)

            ws.onopen = () => {
                console.log('Connected to the server')
            }

            function messageSendHandler(e) {
                console.log("messageSendHandler")
                //e.preventDefault()
                console.log("messageSendHandler")
                let text = document.getElementById("messageInput").value
                console.log(text)
                let name = "{{firstName}} {{lastName}}"
                console.log(name)
                ws.send(JSON.stringify([name, text]))
                messageInput.value = ''
            }
            
            ws.onmessage = (event) => {
                const item = document.createElement('li')
                item.textContent = event.data
                document.getElementById("messages").appendChild(item)
            }
            ws.onerror = (err) => {
                console.log(`connect_error due to ${err}`);
            }
    </script>
</p>