<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instructor Profile</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    #header {
      background-color: #ffee00;
      text-align: center;
      display: flex;
      align-items: center;
    }

    #logo {
      height: 140px;
      width: 140px;
      padding-left: 5px;
      padding-top: 5px;
    }
  </style>
</head>
<body>
  <div id="header">
    <img src="./layouts/2021maestroMUSIC.png" alt="logo" id="logo" style="height:140px; width:140px; padding: 5px">
    <h1>Instructor Profile</h1>
  </div>


</body>
</html>
