<!DOCTYPE html>
<html>
<head>
    <title>Instructor Schedule</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>
    <div id="header">
        <img src="../2021maestroMUSIC.png" alt="logo" id="logo" style="height:140px; width:140px; padding-left:5px; padding-top:5px">
        <!-- <button class="profile-button" onclick="location.href='profile.html'">Profile</button> -->
    </div>
    <h1>Instructor Scheduler</h1>
    <div id="instructor-schedule">
        <div id="calendar"></div>
    </div>

    <div class="instructor-scheduler-body">
      <form action="/instructors/schedule" method="post" id="lesson-form">
        <div> 
            <h3>Instrument Type</h3>
            <input type="text" name="instrumentType" id="instrumentType">
        </div>
        <p> - </p>
        <div> 
            <h3>Lesson Duration</h3>
            <select name="lessonDur" id="lessonDur">
              <option value="30">30 minutes</option>
              <option value="60">60 Minutes</option>
              <option value="90">90 Minutes</option>
            </select>
        </div>
        <p> - </p>
        <div> 
            <h3>Cost (inDollars) </h3>
            $<input type="number" name="lessonCost" id="lessonCost"/>
        </div>
        <button type="submit">Create Lesson Type</button>
        </form>


        <form action="/instructors/allowTime" method="post" id="allowedTimeForm">
        <div>
          <h3>Allow Weekly Times:</h3>
          <select name="dayOfTheWeek" id="dayOfTheWeek">
            <option value="M">Monday</option>
            <option value="Tu">Tuesday</option>
            <option value="W">Wednesday</option>
            <option value="Th">Thursday</option>
            <option value="F">Friday</option>
            <option value="Sa">Saturday</option>
            <option value="Su">Sunday</option>
          </select> <br>
          Start Time: <input type="time" name="startTime" id="startTime"/><br>
          End Time: <input type="time" name="endTime" id="endTime"/><br>

        </div>
        <button type="submit">Submit Time</button>
        </form>
    </div>
    <div>
      {{#each lessons}}
      <li>
        <p>Instrument: {{this.instrumentType}}</p>
        <p>lesson Duration: {{this.lessonDur}}</p>
        <p>Lesson LocationL: {{this.lessonCost}}</p>
      </li>
      {{/each}}
    </div>
</body>
</html>
