<!DOCTYPE html>
<html>
<head>
    {{!-- <link rel="stylesheet" href="../public/css/design.css"> --}}
    <title>Instructor Schedule</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script> --}}
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <script src='../public/js/populate_calendar.js'></script>
    {{!-- <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/index.global.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.10/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.10/index.global.min.js"></script> --}}
</head>
<body>
    <h1>Instructor Schedule</h1>
    <div id="instructor-schedule" style="margin: 0px 10px 50px; margin">
        <div id="calendar"></div>
    </div>
    <a href="/instructors/schedule" >Click here to Schedule an Appointment</a>
    <form action="/instructors/calendar" method="post" id="delete-form">
        Make Appointment:
    <input type="datetime-local" name="apptInput" id="apptInput" class="full-width-input">
    <br>
    <button onClick="window.location.reload();" type="submit">Submit</button>
    </form>
    <div id="appointmentDiv" hidden="true">
        Time
        {{#each appointments}}
        <li class="testTime"> {{this}}</li>
        {{/each}}
    </div>
    <script>
        function addEvent(name, startTime, endTime) {
        // var title = document.getElementById("title").value;
        // var start = document.getElementById("start").value;
        // var end = document.getElementById("end").value;
        
        var eventData = {
            title: name,
            start: startTime,
            end: endTime,
        };
        $('#calendar').fullCalendar('renderEvent', eventData);
    }
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            // Calendar options and events will be added here
                displayEventEnd: true
        });
        var items = document.getElementsByClassName("testTime");
        for(var i = 0; i<items.length;i++){
            var item = items[i].textContent;
            console.log(item);
            addEvent("test", item, "2023-12-19T18:00:00")
        }
        //var start = document.getElementById("testTime").textContent;
        
    });


        
    </script>
</body>
</html>
