<!DOCTYPE html>
<html>
<head>
    <title>Instructor Schedule</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>
    <div id="header">
        <img src="../2021maestroMUSIC.png" alt="logo" id="logo" style="height:140px; width:140px; padding-left:5px; padding-top:5px">
        <!-- <button class="profile-button" onclick="location.href='profile.html'">Profile</button> -->
    </div>
    <h1>Instructor Scheduler</h1>
    <div id="instructor-schedule">
        <div id="calendar"></div>
    </div>

    <div class="instructor-scheduler-body">
        <div> 
            <h3>Instrument Type</h3>
            <input type="text">
        </div>
        <p> - </p>
        <div> 
            <h3>Lesson Duration</h3>
            <input type="text">
        </div>
        <p> - </p>
        <div> 
            <h3>Lesson Location</h3>
            <input type="text">
        </div>
        <button type="submit">Create Lesson Type</button>
    </div>
</body>
</html>
