<h1>{{title}}</h1>

<form action="/students/parent/updatePassword" method="POST" id="edit-password-form">

    <label for="newPasswordInput" id="newPasswordLabel">New Password: </label>
    <input type="text" name="newPasswordInput" id="newPasswordInput" autocomplete="off"/><br>

    <label for="confirmPasswordInput" id="confirmPasswordLabel">Confirm Password: </label>
    <input type="text" name="confirmPasswordInput" id="confirmPasswordInput" autocomplete="off"/><br>

    <button type="submit">Update Password</button>
</form>
<div id="error" class="error">{{error}}</div>