body {
    margin: 0;
    padding: 0;
}
​
.header {
    
    width: 100vw;
    height: 10%;
    background-color: #F4CF08;
}
​
/* .logo-container {
    height: 100%;
    width: 5%;
    background-color: #000000;
    display: flex;
    align-items: center;
}
​ */
#Maestrologo {

    padding-left:0.5%; 
    padding-top:0.5%
}

#header {
    background-color: #F4CF08;
    height: 10%;
    width: 100vw;
}

h1 {
    font-size: 50px;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100px;
}